@font-face {
    font-family: 'Meslo LG';
    src: url('/assets/fonts/MesloLG/MesloLGMDZ-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Meslo LG Bold';
    src: url('/assets/fonts/MesloLG/MesloLGMDZ-Bold.ttf') format('truetype');
}
