@font-face {
    font-family: 'Meslo LG';
    src: url('/assets/fonts/MesloLG/MesloLGMDZ-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Meslo LG Bold';
    src: url('/assets/fonts/MesloLG/MesloLGMDZ-Bold.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
