@import 'fonts';
@import 'external/font-awesome';

$primary: #c9cacc;
$background: #1d1f21;
$accent: #ffa9c0;
$grey: #646464;

* {
    box-sizing: border-box;
}

html {
    margin: 0%;
    color: $primary;
    background-color: $background;
    font-family: 'Meslo LG', monospace;
}

body {
    max-width: 48rem;
    display: flex;
    flex-direction: column;
    text-rendering: geometricPrecision;
    line-height: 1.75;
    overflow-wrap: break-word;
    padding-top: 4rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

body ul {
    line-height: 2.00;
}

body a {
    color: $primary;
}

header {
    width: 100%;
    margin-left: 1rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

header div:last-child {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

header img:hover {
    -webkit-filter: saturate(130%);
}

.logo {
    height: 50px;
}

.title {
    font-family: 'Meslo LG', monospace;
    font-weight: 700;
    font-size: 1.5rem;
}

.nav {
    list-style-type: none;
    font-size: 0.8rem;
    line-height: 1.75;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline-block;
    padding-right: 18px;
    margin-right: 9.666665px;
    border-right: 1px dotted $accent;
}

.nav li:last-child {
    margin-right: 0;
    border-right: 0;
}

.nav li:hover {
    -webkit-filter: brightness(80%);
}

.nav a {
    text-decoration: none;
    background: none;
    color: $accent;
}

#about {
    font-size: 14px;
}

#about p:first-child {
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    text-align: justify;
}

.icon {
    font-size: 0;
    text-decoration: none;
}

.icon i {
    font-size: 14px;
}

.heading {
    font-size: 1.2rem;
    font-weight: 700;
    color: $accent;
    text-decoration: none;
    margin-bottom: 1rem;
}

#project-list {
    list-style-type: none;    
    font-size: 14px;
    padding: 0;
}

#project-list li {
    font-size: 0;
    margin-bottom: 5px;
}

#project-list li p {
    font-size: 14px;
    display: inline;
}

#project-list li a {
    font-size: 14px;
    display: inline-block;
}

#project-list li a:hover {
    color: $accent;
}

#post-list {
    list-style-type: none;    
    font-size: 14px;
    padding: 0;
}

@media (min-width: 480px) {
    #post-list li {
        display: flex;
        margin-bottom: 5px;
    }

    #post-list li div {
        padding-right: 3%;
    }
}

#post-list li a:hover {
    color: $accent;
}


.date {
    color: $grey;
}

.padding {
    padding: 1.5rem;
}

footer {
    display: flex;
    height: 12px;
    color: $grey;
    padding-top: 4rem;
    justify-content: space-between;
    align-items: flex-end;
}

footer .nav li {
    display: inline-block;
    font-size: 10px;
    padding-right: 18px;
    margin-right: 9.666665px;
    border-right: 1px solid $grey;
}

footer .nav li:last-child {
    margin-right: 0;
    border-right: 0;
}

footer .nav li:hover {
    -webkit-filter: brightness(120%);
}

footer .nav a {
    text-decoration: none;
    background: none;
    color: $grey;
}

#copyright {
    font-size: 10px;
}